body {
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', Arial, sans-serif;
	font-size: 16px;
	color: #505050;
	background-color: white;
	box-sizing: border-box;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #6b6b6b;
}

header {
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
	box-sizing: border-box;
	vertical-align: top;
	font-family: 'Ubuntu', 'Titillium Web', Arial, Helvetica, sans-serif;
}

nav {
	height: 40px;
	margin-top: 32px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
}

footer {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: #13161f;
	color: #9d9d9d;
}

footer div.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: white;
	margin-bottom: 20px;
}

footer ol {
	display: flex;
	padding: 0;
	flex-direction: column;
	justify-content: top left;
	list-style: none;
}

footer li {
	font-size: 16px;
	margin: 10px 0;
}

pre {
	font-size: 14px;
}

h5 {
	font-size: 16px;
}

article {
	margin-top: 40px;
	margin-bottom: 20px;
}

article > div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

article > div > div {
	flex: 1 1 0;
	min-width: 640px;
	margin: 20px 20px;
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(255, 166, 0, 0.158);
}

article > div > div h4 {
	background-color: rgba(255, 166, 0, 0.5);
	border: solid #13161faf 1px;
	padding: 5px;
}

aside {
	position: fixed;
	min-height: 20px;
	padding: 10px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
}


aside a {
	margin: 0 20px;
	font-size: 16px;
}

aside a:hover {
	color: orangered;
	font-size: 18;
	font-weight: 700;
	padding: 4px;
	background-color: #13161f1f;
}

legend {
	font-size: 24px;
	font-weight: 700;
}

.logo {
	display: block;
	margin: 0;
	margin-left: 80px;
	margin-top: 20px;
	width: 191px;
	min-width: 191px;
	height: 40px;
	float: left;
	background-image: url("../images/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.logo-search {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}

.logo-text {
	display: block;
	width: 700px;
	clear: both;
	margin: 0;
	padding: 0;
	margin-left: 80px;
	margin-top: 20px;
	font-size: 40px;
	font-weight: 900;
}

.navlist {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 40px 0 0 0;
	padding: 0;
	height: 60px;
	list-style: none;
}

.navlist li {
	display: inline-block;
	font-size: 20px;
	padding: 15px 20px;
	background-color: rgb(255, 255, 255);
	color: #13161f;
	border: 6px double rgba(0, 0, 0, 0.5);
	border-radius: 24px 0;
}

section.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inter-image {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../images/network-transparent.png");
	background-size: cover;
	background-attachment: fixed;
}

.concept-table {
	width: 70%;
	margin: 20px auto;
	margin-bottom: 40px;
	text-align: center;
}

.concept-table thead, .concept-table tbody, .concept-table tfoot {
	margin-bottom: 20px;
}

.concept-table th {
	max-width: 200px;
	padding-bottom: 20px;
}

.concept-table th img {
	max-width: 200px;
	max-height: 200px;
	border-radius: 50px;
}

.concept-table tbody {
	font-size: 18px;
	font-weight: 700;
	color: black;
}

.title {
	text-align: center;
	border-bottom: 8px double rgb(80, 80, 80);
}

.title h1 {
	margin: 10px auto;
	font-size: 40px;
}

.title h5 {
	margin: 20px auto;
}

.span-box {
	display: flex;
	flex-flow: column wrap;
	list-style-type: square;
}

.span-box li {
	flex: 1 1 0;
	margin: 8px 0;
	min-width: 320px;
}

.tech-img {
	min-width: 128px;
	min-height: 128px;
}

.tech-name {
	margin: auto;
}

.simple-input {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	margin: 20px auto;
}

.simple-input span {
	flex: 1 1 0;
	max-width: 20%;
}

.simple-input input {
	flex: 1 1 0;
	border: 2px rgba(0, 0, 0, 0.507) solid;
	min-height: 30px;
}

.long-input {
	display: flex;
	flex-flow: column wrap;
	justify-content: left;
}

.long-input div, .long-input input {
	flex: 1 1 0;
	margin: 10px 0;
}

.long-input input {
	border: 2px rgba(0, 0, 0, 0.507) solid;
	min-height: 30px;
}

#promo-text {
	width: 70%;
	margin: 20px auto;
	text-align: center;
	font-size: 30px;
	line-height: 1.5;
}

#promo-text-2 {
	width: 60%;
	margin: 20px auto;
	font-size: 20px;
	text-align: center;
}

#blockchain {
	margin: auto;
	margin-right: 16px;
	padding: 16px;
	background-color: orange;
	color: white;
	min-width: 300px;
}

#github {
	margin: auto;
	margin-left: 16px;
	padding: 16px;
	border: 2px orange solid;
	color: orange;
	min-width: 300px;
}

#youtube {
	height: 40px;
	margin-top: 80px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

#youtube-icon {
	background: url("../images/youtube.png") no-repeat;
	background-size: contain;
	margin: 0 20px;
	width: 40px;
	height: 40px;
}

#key {
	display: inline-block;
	margin: 40px auto;
	font-size: 25px;
}

#signup {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 40px auto;
	padding: 0;
}

#signup-msg {
	min-width: 30%;
	font-size: 18px;
	margin: auto;
	margin-left: 0;
	max-width: 480px;
	padding: 20px;
	border-radius: 20px;
	line-height: 1.6;
	background-color: rgba(255, 255, 255, 0.6);
}

#signup-btn {
	text-align: center;
	max-width: 180px;
	margin: auto;
	margin-left: 180px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(255, 166, 0, 0.596);
}

#live-update {
	margin: 40px auto;
	margin-bottom: 80px;
}

#copyright {
	text-align: right;
	width: 90%;
	margin-bottom: 5px;
}

#author {
	text-align: right;
	width: 90%;
}

#introduction p {
	line-height: 1.5;
	margin: 20px 0;
}

#wallet p {
	line-height: 1.5;
	margin: 20px 0;
}

#disadvantages h6 {
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;
	margin: 20px 0;
}

#terms {
	margin: 40px 20px;
}

#terms div {
	display: flex;
	flex-flow: column wrap;
	padding: 20px;
	background-color: rgba(255, 68, 0, 0.158);
}

#terms div span {
	margin-bottom: 20px;
}

#techs {
	margin: 60px 0;
}

#techs div {
	display: flex;
	flex-flow: column wrap;
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
	background-image: url("../images/network-gray.png");
	background-attachment: fixed;
}

#techs div a {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 20px;
	padding: 5px;
	border: 3px rgba(0, 0, 0, 0.651) dashed;
	border-radius: 20px 0;
}

#techs div a:hover {
	background-color: rgba(255, 0, 0, 0.301);
}

#techs div a span.tech-img {
	flex: 1 1 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	max-width: 128px;
	max-height: 128px;
}

#techs div a span.tech-name {
	flex: 1 1 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 24px;
	font-weight: 700;
}

#techs div a span img {
	flex: 1 1 0;
	min-width: 128px;
	min-height: 128px;
	max-width: 128px;
	max-height: 128px;
}

#quiz {
	margin: 40px auto;
	margin-bottom: 80px;
}

#quiz form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../images/network-gray.png");
	background-attachment: fixed;
	background-size: cover;
}

#quiz form fieldset {
	margin: 20px auto;
	padding: 40px;
	flex: 1 1 0;
	min-width: 800px;
	border: none;
	border-top: 4px #505050 ridge;
}

#quiz form > input {
	margin: 20px auto;
	border: 1px black solid;
}

#radio > div {
	display: flex;
	flex-direction: column;
}

#radio > div > div {
	margin: 10px 0;
}

#radio > div span {
	display: inline-block;
	margin-left: 20px;
	min-width: 480px;
}

#checkbox > div {
	display: flex;
	flex-direction: column;
}

#checkbox > div > div {
	margin: 10px 0;
}

#checkbox > div span {
	display: inline-block;
	margin-left: 20px;
}

#submit {
	font-size: 20px;
	font-weight: 700;
	background-color: white;
	cursor: pointer;
	padding: 10px 40px;
	color: #6b6b6b;
	transition-duration: 0.4s;
}

#submit:hover {
	background-color: orange;
	color: white;
}

#social {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#social > a {
	display: inline-block;
	margin: auto 16px;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	background-size: contain;
	background-repeat: no-repeat;
}

#s1 {
	background-image: url("../images/social1.png");
}

#s2 {
	background-image: url("../images/social2.png");
}

#s3 {
	background-image: url("../images/social3.png");
}

#s4 {
	background-image: url("../images/social4.png");
}

#donate {
	text-align: center;
	margin-bottom: 80px;
}

#qr {
	width: 160px;
	height: 160px;
	background-image: url(../images/qr.png);
	background-size: contain;
	margin: 40px auto;
}